### Maven
target/
src/npm-ci
# IntelliJ project files
.idea
*.iml
.DS_Store
.project
tsconfig-build.tsbuildinfo
tsconfig.tsbuildinfo
dist-all
yarn-error.log
.history
era-ci.log
compiled-era-ci.config.js
compiled-task-worker.config.js
*.log
.eslintcache
compiled-era-ci-*
.clinic
**/src/**/*.d.ts
**/__tests__/**/*.js
lib1.js
*.d.ts
!declarations.d.ts
!vite-env.d.ts
!next-env.d.ts
dist
.history
.yarn/*
!.yarn/cache
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
compiled-era-ci-*.js
.husky/_
.husky/.gitignore
node_modules
ui-dist
coverage
winston.log.*
.next
*.env
artifacts
abis-do-not-use
logs
cache
packages/lw-sdk/deployments/localhost
packages/lw-sdk/deployments/hardhat
all-localhost-abis.json
.vercel
